
@import "~@/styles/variables.scss";
#app {
  background: $mainBg;
}
/* layout for organization register and list diaplay */
.dao-container {
  // min-height: 100%;
  .sidebar-right {
    position: fixed;
    top: 0;
    right: 0;
    width: 360px;
    height: 100%;
    background: url(~@/assets/right-banner.png);
    background-color: #7B88FF;
    background-size: 100% 100%;
  }
  .main-content{
    background-color: $mainBg;
    padding-right: 360px;
    // min-height: 100%;
  }

  .organization {
    .back {
      height: 40px;
      padding: 20px 0 0 30px;
    }
    .org-name-check {
      position: absolute;
      top: 6px;
      right: -34px;
      width: 38px;
      height: 38px;
      .check {
        display: inline-block;
        width: 30px;
        height: 30px;
        background: url(~@/assets/check.png) no-repeat;
        background-size: 30px 30px;
        animation: rotation 2s infinite linear;
      }
    }
    .wallet-logo {
      margin-bottom: 20px;
      .icon {
        font-size: 30px;
      }
    }
    .el-tabs__header {
      width: 520px;
      float: right;
    }
    .el-tabs__content {
      width: 100%;
    }

    .success-txt {
      font-size: 20px;
      color: rgba(55, 64, 89, 0.85);
      margin: 30px auto;
    }

    .el-form-item {
      text-align: left;
    }

    .tip.upload-tip {
      font-size: 12px;
      margin: 0;
    }
    .add-media {
      font-size: 12px;
      color: rgba(55, 64, 89, 0.4);
      cursor: pointer;
    }
  }
  .el-loading-mask {
    background: transparent;
  }
}
